.form_book{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.31);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 30px;
}

.form_book_none{
    display: none;
}

.fields_form{
    width: 600px;
    height: 700px;
    border: 1px solid black;
    box-shadow: 0 0 0 3px #da4e48;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.header_form{
    height: 13%;
    padding: 15px;
    background-color: #da4e48;
    color: white;
    position: relative;
}

.title_form_book{
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
}

.description_form_book{
    margin: 0;
    letter-spacing: 1px;
}

.exit_form_book{
    background: 0 0;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.exit_form_book span{
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    background-color: rgba(255, 255, 255, 0);
    opacity: .2;
}

.exit_form_book:hover span{
    opacity: .4;
    font-size: 17px;
}

.container_form_book{
    display: flex;
    padding: 0 15px 15px 15px;
    border: 1px solid #e5e5e5;
}

.info_user{
    width: 225px;
    height: 20px;
    padding: 15px 20px;
    margin: 15px 0;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.info_user::placeholder{
    color: #9b9b9b;
}

.info_user:focus {
    border: 1px solid #da4e48;
    outline: none;
}

.form_people{
    width: 270px;
    color: #9b9b9b;
    height: 48px;
}

.form_people option{
    color: black;
    padding: 3px;
}

.form_time_title{
    font-size: 16px;
    letter-spacing: 1px;
    color: #5a5a5a;
    width: 250px;
}

.comment{
    resize: none;
    padding: 10px;
    height: 80px;
    width: 250px !important;
}

.form_send{
    width: 210px;
    padding: 10px 10px 10px 35px;
    font-size: 18px;
    position: relative;
    margin: 25px 15px 0 auto;
}

.form_send:after{
    content: '';
    width: 30px;
    height: 30px;
    background: url("/src/img/telegram-logo.svg") no-repeat;
    position: absolute;
    top: 10px;
    left: 25px;
}

.ant-picker-panel-container{
    width: 270px !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-datetime-panel .ant-picker-date-panel{
    height: 210px !important;
    overflow: hidden;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-header {
    padding-right: 20px;
    height: 35px !important;
}
:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-cell{
    padding: 2px 0;
}
:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
    padding: 0 18px 0 0;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-datetime-panel{
    display: block;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-time-panel .ant-picker-content {
    padding-top: 5px;
    height: 50px;
    width: 270px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-ranges {
    padding-inline: 12px 30px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-time-panel-column {
    padding-left: 40px;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-time-panel-column {
    flex: auto;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown .ant-picker-ranges .ant-picker-ok {
    margin: 0;
}

.ant-picker-now-btn{
    display: none;
}

